{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'academy' %}

{% block body %}
    <div class="academy container">
        <div class="row">
            <picture class="col-sm-12 col-md-6 col-lg-6">
                <img src="{{ asset('images/logo-quantum-academie.png') }}">
            </picture>
            <div class="col-sm-12 col-md-6 col-lg-6 academy-description">
                {{ 'academy.description'|trans|markdown }}
            </div>
        </div>

        <hr>

        <h2>{{ 'academy.learning_paths'|trans }}</h2>

        {% for learningPath in learningPaths %}
            <article class="training row {% if loop.index % 2 == 1 %}left{% else %}right{% endif %}">
                <picture class="col-xs-12 col-sm-4 col-md-4 col-lg-4{% if loop.index % 2 == 0 %} hidden-lg hidden-md hidden-sm{% endif %}">
                    {% media learningPath.picture, 'service_big' with {
                        'height': 'auto'
                    } %}
                </picture>

                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h3>{{ translate(learningPath, 'name') }}</h3>
                    <p>{{ translate(learningPath, 'abstract')|markdown }}</p>
                    <div class="certification">
                        <i class="fa fa-certificate" aria-hidden="true"></i>
                        <span>{{ translate(learningPath, 'certification') }}</span>
                    </div>
                    <a href="{{ path('academy_learningpath', { id: learningPath.id }) }}" class="btn btn-default">
                        {{ 'training.learn_more'|trans }}
                    </a>
                </div>

                <picture class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs{% if loop.index % 2 == 1 %}  hidden-lg hidden-md hidden-sm{% endif %}">
                    {% media learningPath.picture, 'service_big' with {
                        'height': 'auto'
                    } %}
                </picture>
            </article>
        {% endfor %}

        {% if workshops|length %}
            <hr>

            <h2>{{ 'academy.workshops'|trans }}</h2>

            {% for workshop in workshops %}
                <article class="training row {% if loop.index % 2 == 1 %}left{% else %}right{% endif %}">
                    <picture class="col-xs-12 col-sm-4 col-md-4 col-lg-4{% if loop.index % 2 == 0 %} hidden-lg hidden-md hidden-sm{% endif %}">
                        {% media workshop.picture, 'service_big' with {
                            'height': 'auto'
                        } %}
                    </picture>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <h3>{{ translate(workshop, 'name') }}</h3>
                        <p>{{ translate(workshop, 'abstract')|markdown }}</p>
                        <a href="{{ path('academy_workshop', { id: workshop.id }) }}" class="btn btn-default">
                            {{ 'training.learn_more'|trans }}
                        </a>
                    </div>
                    <picture class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs{% if loop.index % 2 == 1 %}  hidden-lg hidden-md hidden-sm{% endif %}">
                        {% media workshop.picture, 'service_big' with {
                            'height': 'auto'
                        } %}
                    </picture>
                </article>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
