{% extends '@App/Academy/training.html.twig' %}

{% trans_default_domain 'academy' %}

{% block certification %}
    <div class="row certification">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        <span>
            {{ translate(training, 'certification') }}<br/>
            {{ 'training.free_test'|trans }}
        </span>
    </div>
{% endblock certification %}

{% block modules %}
    {% if training.modules|length %}
        <h3>{{ 'training.modules'|trans }}</h3>

        <div class="modules panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for module in training.modules %}
                <div class="module panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#module-{{ loop.index }}"
                               aria-expanded="false"
                               aria-controls="collapseOne"
                                {% if loop.index != 1 %} class="collapsed"{% endif %}>
                                {{ translate(module, 'name') }}
                            </a>
                        </h4>
                    </div>
                    <div id="module-{{ loop.index }}"
                         class="panel-collapse collapse{% if loop.index == 1 %} in{% endif %}"
                         role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            {{ translate(module, 'description')|markdown }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <script type="application/javascript">
            $(document).ready(function () {
                $('.collapse').collapse()
            });
        </script>
    {% endif %}
{% endblock %}
