{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'academy' %}

{% block body %}
    <div class="training workshop container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <picture>
                    {% media training.picture, 'service_big' with {
                        'height': 'auto'
                    } %}
                </picture>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h2>{{ translate(training, 'name') }}</h2>

                {% if training.tags|length %}
                    <div class="tags">
                        {% for tag in training.tags %}
                            <span class="label label-default">{{ translate(tag, 'name') }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <p>{{ translate(training, 'description')|markdown }}</p>

                {% block certification %}{% endblock certification %}

                <div class="row">
                    <div class="price">
                        <i class="fa fa-dollar" aria-hidden="true"></i>
                        <span>{{ training.cost|number_format(0, '', '') }}</span>
                    </div>

                    <div class="discounts">
                        {{ 'training.discounts'|trans({ '%discounts_url%': path('discount_list') })|raw }}
                    </div>
                </div>

                {% if training.sessions|length %}
                    <div class="sessions">
                        <h4>{{ 'training.sessions'|trans }}</h4>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'training.sessions.begin'|trans }}</th>
                                    <th><i class="fa fa-language" aria-hidden="true"></i> {{ 'training.sessions.language'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for session in training.sessions %}
                                    <tr>
                                        <td>{{ session.begin|localizeddate('medium', 'none') }}</td>
                                        <td>{{ languageName(session.language) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                <a class="btn btn-default btn-large pull-right" href="#contact-us">
                    {{ 'training.book'|trans }}
                </a>
            </div>
        </div>
        {% if training.trainers|length or training.modules is defined and training.modules|length %}
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    {% block modules %}{% endblock %}
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    {% if training.trainers|length %}
                        <h3>{{ 'training.trainers'|trans }}</h3>
                        <ul class="trainers">
                            {% for trainer in training.trainers %}
                                <li>
                                    <div class="row">
                                        <picture class="col-xs-12 col-sm-6">
                                            {% media trainer.picture, 'person_event' with {
                                                'height': 'auto'
                                            } %}
                                        </picture>
                                        <div class="col-xs-12 col-sm-6">
                                            <h3>{{ trainer.displayName }}</h3>
                                            <p>{{ translate(trainer, 'description') }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
