<!DOCTYPE html>
<html>
<head>
    {#{{ sonata_seo_title() }}#}
    {#{{ sonata_seo_metadatas() }}#}
    {#{{ sonata_seo_link_canonical() }}#}
    {#{{ sonata_seo_lang_alternates() }}#}

    {% block stylesheets %}{% endblock %}

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" media="screen" href="{{ asset('css/vendors.min.css') }}" type="text/css" />
    <link rel="stylesheet" media="screen" href="{{ asset('css/app.min.css') }}" type="text/css" />
</head>
<body>

{% if app.request.locale and app.request.locale == 'fr' %}
    {% set sNewLocale = 'en' %}
{% else %}
    {% set sNewLocale = 'fr' %}
{% endif %}

{% set requestAttributes =  app.request.attributes.all() %}
{% set route = requestAttributes._route %}
<a href="{{ localeSwitch(sNewLocale, requestAttributes) }}">{{ ('lang_switch.'~sNewLocale)|trans|raw }}</a>

{{ knp_menu_render('AppBundle:Builder:mainMenu', { template: 'AppBundle:Menu:knp_menu.html.twig' } ) }}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
