{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'events' %}

{% block hero %}
    <div class="visual-area" style="background-image: url(images/image1.jpg);">
        <div class="contanear">
            <h1>OUR UPCOMING <span>EVENTS</span></h1>
            <p>Don't miss out! Register <span>TODAY</span> and discover our latest offers!</p>
            <div id="clockdiv">
                <div>
                    <strong class="title days"></strong>
                    <span class="smalltext">Days</span>
                </div>
                <div>
                    <strong class="title hours"></strong>
                    <span class="smalltext">Hours</span>
                </div>
                <div>
                    <strong class="title minutes"></strong>
                    <span class="smalltext">Minutes</span>
                </div>
                <div>
                    <strong class="title seconds"></strong>
                    <span class="smalltext">Seconds</span>
                </div>
            </div>
            <a href="#" class="btn-booknow">BOOK NOW</a>
        </div>
    </div>
{% endblock hero %}

{% block body %}
    {#<h2>{{ 'list.title'|trans }}</h2>#}

    {#{{ form(form) }}#}

    {#<div class="row">#}
        {#{% for event in events %}#}
            {#<div class="col-sm-6 col-md-4">#}
                {#<div class="thumbnail">#}
                    {#<a href="{{ path('event_show', { id: event.id }) }}">#}
                        {#{% media event.event.picture, 'small' %}#}
                    {#</a>#}
                    {#<div class="caption">#}
                        {#<h4>{{ event.begin|localizeddate('short', 'none') }}</h4>#}
                        {#<a href="{{ path('event_show', { id: event.id }) }}">#}
                            {#<h3>{{ translate(event.event.translations, 'name') }}</h3>#}
                        {#</a>#}
                        {#<h5>{{ event.location.name }} - {{ event.location.city }}, {{ event.location.region }} @ {{ event.begin|localizeddate('none', 'short') }}</h5>#}
                        {#<p>{{ translate(event.event.translations, 'description')|truncate(150, true, '...') }}</p>#}
                        {#<p>#}
                            {#<a href="{{ path('event_show', { id: event.id }) }}" class="btn btn-primary" role="button">{{ 'list.button.details'|trans }}</a>#}
                            {#<a href="{{ event.eventBriteLink }}" class="btn btn-default" role="button">{{ 'list.button.tickets'|trans }}</a>#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}

    <div class="search-block">
        <div class="container">
            <form action="#" class="search-form">
                <div class="col">
                    {{ form_row(form.city, {
                        'attr': {
                            'class': 'present',
                            'data-jcf': '{"wrapNative": false, "wrapNativeOnMobile": false}',
                        }
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(form.lang, {
                        'attr': {
                            'class': 'present',
                            'data-jcf': '{"wrapNative": false, "wrapNativeOnMobile": false}',
                        }
                    }) }}
                </div>
                <div class="col">
                    <input type="submit" value="search">
                </div>
                <div class="col">
                    <a class="reset" href="{{ path('event_list') }}">Reset</a>
                </div>
            </form>
        </div>
    </div>
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Events</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- events block -->
    <section class="events container">
        <div class="events-holder">
            {% for event in events %}
                <article class="event-box">
                    <div class="box">
                        <div class="image-holder">
                            {% media event.event.picture, 'event_list' %}
                        </div>
                        <time class="date" datetime="{{ event.begin|localizeddate('short', 'none') }}">
                            {{ event.begin|localizeddate('short', 'none') }}
                        </time>
                        <div class="info-box">
                            <strong class="title">
                                <a href="{{ path('event_show', { id: event.id }) }}">
                                    {{ event.location.name }} - {{ event.location.city }}, {{ event.location.region }}
                                </a>
                            </strong>
                            <time>@ {{ event.begin|localizeddate('none', 'short') }}</time>
                            <p>{{ translate(event.event.translations, 'description')|truncate(50, true, '...') }}</p>
                            <div class="buttons">
                                <div class="btn-holder">
                                    <a href="{{ path('event_show', { id: event.id }) }}" class="btn">{{ 'list.button.details'|trans }}</a>
                                </div>
                                <div class="btn-holder">
                                    <a href="{{ event.eventBriteLink }}" class="btn">{{ 'list.button.tickets'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
