{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'events' %}

{% block description %}{{ 'meta.description'|trans }}{% endblock %}
{% block ogdescription %}{{ 'meta.description'|trans }}{% endblock %}

{#{% block hero %}#}
    {#<div class="visual-area">#}
        {#<div class="contanear">#}
            {#<h1>OUR UPCOMING <span>EVENTS</span></h1>#}
            {#<p>Don't miss out! Register <span>TODAY</span> and discover our latest offers!</p>#}
            {#<div id="clockdiv">#}
                {#<div>#}
                    {#<strong class="title days"></strong>#}
                    {#<span class="smalltext">Days</span>#}
                {#</div>#}
                {#<div>#}
                    {#<strong class="title hours"></strong>#}
                    {#<span class="smalltext">Hours</span>#}
                {#</div>#}
                {#<div>#}
                    {#<strong class="title minutes"></strong>#}
                    {#<span class="smalltext">Minutes</span>#}
                {#</div>#}
                {#<div>#}
                    {#<strong class="title seconds"></strong>#}
                    {#<span class="smalltext">Seconds</span>#}
                {#</div>#}
            {#</div>#}
            {#<a href="#" class="btn-booknow">BOOK NOW</a>#}
        {#</div>#}
    {#</div>#}
{#{% endblock hero %}#}

{% block preBody %}
    <div class="search-block">
        <div class="container">
            {{ form_start(form, {
                attr: {
                    class: 'search-form'
                }
            }) }}
            <div class="col col-xs-12 col-sm-6 col-md-6 cold-lg-3">
                {{ form_row(form.city, {
                    'attr': {
                        'class': 'present',
                        'data-jcf': '{"wrapNative": false, "wrapNativeOnMobile": false}',
                    }
                }) }}
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-6 cold-lg-3">
                {{ form_row(form.lang, {
                    'attr': {
                        'class': 'present',
                        'data-jcf': '{"wrapNative": false, "wrapNativeOnMobile": false}',
                    }
                }) }}
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-6 cold-lg-3">
                <div class="free">
                    {{ form_widget(form.free) }}
                    {{ form_label(form.free) }}
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-6 cold-lg-3">
                {{ form_row(form.submit) }}
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-6 cold-lg-3">
                <a class="reset" href="{{ path('event_list') }}">{{ 'form.reset.label'|trans({}, 'search') }}</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="events container">
        <div class="events-holder">
            <div class="row">
                {% for event in events %}
                    <div class="event col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a href="{{ path('event_show', { id: event.id }) }}">
                                {% media event.picture|default(event.event.picture), 'event_list' %}
                            </a>
                            <div class="caption">
                                <h3>
                                    <a href="{{ path('event_show', { id: event.id }) }}">
                                        {{ translate(event, 'name')|default(translate(event.event, 'name')) }}
                                    </a>
                                </h3>
                                <div class="info-box">
                                    <a href="{{ path('event_show', { id: event.id }) }}">
                                        {{ event.location.name }} - {{ event.location.city }}, {{ event.location.region }}
                                    </a>
                                    <time datetime="{{ event.begin|localizeddate('short', 'none') }}">
                                        {{ event.begin|localizeddate('short', 'none') }} @ {{ event.begin|localizeddate('none', 'short') }}
                                    </time>
                                    <p>{{ translate(event.event, 'description')|truncate(50, true, '...') }}</p>
                                    <div class="buttons">
                                        <div class="btn-holder">
                                            <a href="{{ path('event_show', { id: event.id }) }}" class="btn">{{ 'list.button.details'|trans }}</a>
                                        </div>
                                        <div class="btn-holder">
                                            <a href="{{ event.eventBriteLink }}" class="btn">{{ 'list.button.tickets'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"282e9366effefb7c19e3fd91a","lid":"535b81918b"}) })</script>
{% endblock %}
