{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'events' %}

{% block description %}{{ 'meta.description'|trans }}{% endblock %}
{% block ogdescription %}{{ 'meta.description'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="blog-img-detail">
                    {% media eventOccurrence.picture|default(eventOccurrence.event.picture), 'event_big' with {
                        'class': 'img-responsive'
                    } %}
                </div>
                <div class="map-section">
                    <iframe width="100%" height="300" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/search?q={{ gmapQuery }}&key=AIzaSyA96Xcp2D46ewYvCzJfBjL2EpID2AKgng8" allowfullscreen></iframe>
                </div>
                <div class="discription-section">
                    <ul role="tablist">
                        <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{ 'view.description'|trans }}</a></li>
                        {#<li role="presentation"><a href="#tickets" aria-controls="tickets" role="tab" data-toggle="tab">{{ 'view.tickets'|trans }}</a></li>#}
                    </ul>
                    <div role="tabpanel" class="discription-content" id="description">
                        {% if translate(eventOccurrence, 'description') %}
                            {{ translate(eventOccurrence, 'description')|markdown }}
                        {% else %}
                            {{ translate(eventOccurrence.event, 'description')|markdown }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="age-section">
                    <h4 class="age-title">{{ translate(eventOccurrence, 'name')|default(translate(eventOccurrence.event, 'name')) }}</h4>
                    <h3>{{ eventOccurrence.location.name }} - {{ eventOccurrence.location.city }}, {{ eventOccurrence.location.region }}</h3>
                    <p>
                        <img src="/images/calender-img.png" alt="calendar icon" />
                        <span>{{ 'view.start_from'|trans({ '%date%': eventOccurrence.begin|localizeddate('short', 'none') }) }}</span>
                    </p>
                    <p>
                        <img src="/images/speaker-img.png" alt="speaker icon" />
                        <span>{{ 'view.start_at'|trans({ '%time%': eventOccurrence.begin|localizeddate('none', 'short') }) }}</span>
                    </p>
                    <p>{{ translate(eventOccurrence.event, 'intro')|markdown }}</p>
                </div>
                {% if eventOccurrence.costs|length %}
                    <div class="calender-regular col-sm-2 col-md-2 col-lg-2">
                        {% for eventCost in eventOccurrence.costs %}
                            <div class="cost">
                                <div class="name">{{ eventCost.name }}</div>
                                <div class="price">{{ eventCost.cost|localizedcurrency(eventCost.currency) }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="location col-sm-10 col-md-10 col-lg-10">
                    <p>
                        <img src="/images/location.png" alt="location icon" />
                        <span>
                            {{ eventOccurrence.location.name }}<br />
                            {{ eventOccurrence.location.city }}, {{ eventOccurrence.location.region }}<br />
                            {{ eventOccurrence.location.country }}
                        </span>
                    </p>
                </div>
                {% if eventOccurrence.speakers|length %}
                    <div class="feature-speaker">
                        <div class="blog-title-form">
                            <h3>{{ 'view.speakers'|trans }}</h3>
                        </div>
                        <div class="blog-post-list">
                            <ul>
                                {% for speaker in eventOccurrence.speakers %}
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 blog-list-img">
                                                {% media speaker.picture, 'person_event' with {
                                                    'height': 'auto'
                                                } %}
                                            </div>
                                            <div class="col-xs-6 col-sm-6">
                                                <div class="blog-list-content">
                                                    <h3>{{ speaker.displayName }}</h3>
                                                    <p>{{ translate(speaker, 'description') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"282e9366effefb7c19e3fd91a","lid":"535b81918b"}) })</script>
{% endblock %}
