{% trans_default_domain 'widget' %}

<div class="panel panel-default col-md-6">
    <div class="panel-heading">{{ 'events.title'|trans }}</div>
    <div class="panel-body">
        <ul>
            {% for event in events %}
                <li>
                    {% media event.event.picture, 'small' %}

                    <a href="{{ path('event_show', { id: event.id }) }}">
                        <h4>{{ event.event.name }}</h4>
                    </a>

                    <span>{{ event.begin|localizeddate('short', 'none') }} {{ event.begin|localizeddate('none', 'short') }}</span>
                    <span>{{ event.location.city }}, {{ event.location.country }}</span>
                    {#<span>{{ languageName(event.event.lang) }}</span>#}
                    <span>{{ 'event.remaining_seats'|transchoice(event.remainingSeats) }}</span>
                </li>
            {% endfor %}
        </ul>

        <a href="{{ path('event_list') }}">{{ 'events.see_all'|trans }}</a>
    </div>
</div>
