{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>MAKE PEOPLE AWESOME</h1>
    <p>blabla</p>
    <h2>How do we do that?</h2>
    {{ render(controller('AppBundle:Service:widget')) }}
    {{ include('AppBundle:Training:widget.html.twig') }}
    <h2>What's happening with us now</h2>
    {{ render(controller('AppBundle:Event:widget')) }}
    {{ render(controller('AppBundle:Testimonial:widget')) }}

    <div class="panel panel-default col-md-12">
        <div class="panel-heading">Contact us</div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
