{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'home' %}

{% block hero_classes %} hero-home{% endblock hero_classes %}
{% block hero_style %} style="background-image: url({{ asset('images/adventure-1807524_1920.jpg') }}); background-position: center center;"{% endblock hero_style %}

{% block hero %}
    <div class="hero-content">
        <a class="video-cta fancybox.iframe" href="http://www.youtube.com/embed/tYQDI0JEGNc?autoplay=1">
            <i class="fa fa-youtube"></i>
            {{ 'hero.video_link'|trans|raw }}
        </a>
        <h2>{{ 'hero.title'|trans|raw }}</h2>
        <p class="read-more"><i class="fa fa-angle-down"></i></p>
    </div>
{% endblock hero %}

{% block breadcrumb %}{% endblock %}

{% block body %}

    {% include '@App/Services/widget.html.twig' %}

    <div class="whats_happening_panel">
        <div class="contanear">
            <h2>{{ 'activities.title'|trans }}</h2>

            <div class="whats_happening_panel_inner">
                <div class="whats_happening_panel_inner_left">
                    {{ render(controller('AppBundle:News:widget')) }}
                </div>
                <div class="whats_happening_panel_inner_left">
                    {{ render(controller('AppBundle:Event:widget')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="container partners">
        <div class="row">
            <h2>They trust us</h2>
        </div>
        <div class="row clients">
            <div class="col-xs-4 client">
                <img src="{{ asset('images/clients/Logo_Bell_Canada.png') }}" alt="Bell Canada">
            </div>
            <div class="col-xs-4 client">
                <img src="{{ asset('images/clients/Logo_Quebecor_Media.png') }}" alt="Quebecor Media">
            </div>
            <div class="col-xs-4 client">
                <img src="{{ asset('images/clients/appdirect-logo-light-large.png') }}" alt="AppDirect">
            </div>
        </div>
    </div>

    {{ render(controller('AppBundle:Testimonial:widget')) }}
{% endblock %}
