{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'home' %}

{% block hero_style %} style="background-image: url(/images/doors-1690423_1920-orange.jpg); background-position: center center;"{% endblock hero_style %}

{% block hero %}
    <div class="home-hero">
        <h2>{{ 'hero.title'|trans|raw }}</h2>
        <h3>{{ 'hero.subtitle'|trans|raw }}</h3>
    </div>
{% endblock hero %}

{% block breadcrumb %}{% endblock %}

{% block body %}

    <div class="how_can_help_contanear">
        <div class="contanear">
            <div class="how_can_help_text">
                <h1>{{ 'how.title'|trans }}</h1>
                <h2>{{ 'how.subtitle'|trans }}</h2>
            </div>
            <div class="how_can_help_box_area">
                {% for i in 1..3 %}
                    <div class="how_can_help_box1">
                        <div class="how_can_help_main_img_and_text_area">
                            <div class="how_can_help_main_img_box"><img src="/images/how_{{ i }}.jpg" alt="image description"></div>
                            <div class="how_can_help_text_area">
                                <p>{{ ('how.element' ~ i ~ '.title')|trans }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="whats_happening_panel">
        <div class="contanear">
            <h2>{{ 'activities.title'|trans }}</h2>

            <div class="whats_happening_panel_inner">
                <div class="whats_happening_panel_inner_left">
                    {{ render(controller('AppBundle:News:widget')) }}
                </div>
                <div class="whats_happening_panel_inner_left">
                    {{ render(controller('AppBundle:Event:widget')) }}
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('AppBundle:Testimonial:widget')) }}
{% endblock %}
