{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'home' %}

{% block hero_classes %} hero-home{% endblock hero_classes %}
{% block hero_style %} style="background-image: url({{ asset('images/sparkler-1826607_1920.jpg') }}); background-position: center center;"{% endblock hero_style %}

{% block hero %}
    <div class="hero-content">
        <h2>{{ 'hero.title'|trans|raw }}</h2>
        <p class="read-more"><a href="#approach"><i class="fa fa-angle-down"></i></a></p>
    </div>
{% endblock hero %}

{% block breadcrumb %}{% endblock %}

{% block body %}

    <div class="container approach" id="approach">
        <div class="row">
            <h2>{{ 'approach.title'|trans }}</h2>
        </div>
        <div class="steps">
            {% set icons = ['heartbeat', 'graduation-cap', 'cogs', 'level-up'] %}
            {% for i in 0..3 %}
                <div class="row step">
                    <div class="col-xs-12 col-md-6 hidden-xs hidden-sm left">
                        {% if i % 2 == 0 %}
                            <picture>
                                <i class="fa fa-{{ icons[i] }}"></i>
                            </picture>
                        {% else %}
                            <div class="description">
                                <h3>{{ ('approach.step.' ~ (i + 1) ~ '.title')|trans }}</h3>
                                <p>{{ ('approach.step.' ~ (i + 1) ~ '.description')|trans }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-6 right">
                        {% if i % 2 == 1 %}
                            <picture class="hidden-xs hidden-sm">
                                <i class="fa fa-{{ icons[i] }}"></i>
                            </picture>

                            <div class="description visible-xs visible-sm">
                                <h3>{{ ('approach.step.' ~ (i + 1) ~ '.title')|trans }}</h3>
                                <p>{{ ('approach.step.' ~ (i + 1) ~ '.description')|trans }}</p>
                            </div>
                        {% else %}
                            <div class="description">
                                <h3>{{ ('approach.step.' ~ (i + 1) ~ '.title')|trans }}</h3>
                                <p>{{ ('approach.step.' ~ (i + 1) ~ '.description')|trans }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="slider">
                <div class="path"></div>
                <div class="pointer"></div>
                {% for i in 0..3 %}
                    <div class="checkpoint checkpoint-{{ i }}"></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container youtube">
        <iframe src="https://www.youtube.com/embed/tYQDI0JEGNc" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container partners" id="clients">
        <div class="row">
            <h2>{{ 'clients.title'|trans }}</h2>
        </div>
        <div class="row clients">
            <div class="col-xs-4 client">
                <img src="{{ asset('images/clients/Logo_Bell_Canada.png') }}" alt="Bell Canada">
            </div>
            <div class="col-xs-4 client">
                <img src="{{ asset('images/clients/Logo_Quebecor_Media.png') }}" alt="Quebecor Media">
            </div>
            <div class="col-xs-4 client">
                <img src="{{ asset('images/clients/appdirect-logo-light-large.png') }}" alt="AppDirect">
            </div>
        </div>
    </div>

    <div class="whats_happening_panel">
        <div class="contanear">
            <h2>{{ 'activities.title'|trans }}</h2>

            <div class="whats_happening_panel_inner">
                <div class="whats_happening_panel_inner_left">
                    {{ render(controller('AppBundle:News:widget')) }}
                </div>
                <div class="whats_happening_panel_inner_left">
                    {{ render(controller('AppBundle:Event:widget')) }}
                </div>
            </div>
        </div>
    </div>


    {{ render(controller('AppBundle:Testimonial:widget')) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {
            var checkpoints = [];
            var $pointer = $('.approach .slider .pointer');
            var $path = $('.approach .slider .path');

            var refreshCheckPoints = function() {
                checkpoints = [];
                $('.approach .step').each(function () {
                    let elementOffset = $(this).offset().top;
                    let parentOffset = $(this).parent().offset().top;
                    let relativeOffset = elementOffset - parentOffset;
                    let elementHeight = $(this).outerHeight();

                    checkpoints.push({
                        absolute: elementOffset + elementHeight / 2,
                        relative: relativeOffset + elementHeight / 2
                    });
                });
            };

            var display = function computeOffset(pointerPosition) {
                $pointer.css({ 'top': pointerPosition.relative});
            };
            var getNearestCheckpoint = function() {
                let centerOfScreen = $(document).scrollTop() + $(window).height() / 2;
                let nearest = null;

                for (var i in checkpoints) {
                    if (nearest == null) {
                        nearest = checkpoints[i];
                        continue;
                    }

                    let nearestDistance = Math.abs(centerOfScreen - nearest.absolute);
                    let currentDistance = Math.abs(centerOfScreen - checkpoints[i].absolute);

                    if (nearestDistance > currentDistance) {
                        nearest = checkpoints[i];
                    }
                }

                return nearest;
            };

            var updatePath = function() {
                let top = null;
                let bottom = null;

                for (var i in checkpoints) {
                    if (top == null) {
                        top = checkpoints[i].relative;
                    }
                    if (top > checkpoints[i].relative) {
                        top = checkpoints[i].relative;
                    }

                    if (bottom == null) {
                        bottom = checkpoints[i].relative;
                    }
                    if (bottom < checkpoints[i].relative) {
                        bottom = checkpoints[i].relative;
                    }
                }
                $path.css({
                    height: bottom - top,
                    top: top
                });
            };

            var displayCheckpoints = function() {
                for (var i in checkpoints) {
                    $('.approach .slider .checkpoint-' + i).css({
                        top: checkpoints[i].relative
                    })
                }
            };

            refreshCheckPoints();
            display(getNearestCheckpoint());
            updatePath();
            displayCheckpoints();

            $(window).resize(function() {
                refreshCheckPoints();
                display(getNearestCheckpoint());
                updatePath();
                displayCheckpoints();
            });

            $(document).scroll(function() {
                display(getNearestCheckpoint());
            })
        });
    </script>
{% endblock %}
