{% extends 'AppBundle::old_base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="skroll-content">
            <header class="header whitebg headr-style-1">
                <div class="container">

                    <!-- Menu -->
                    <div class="navbar yamm navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="{{ path('homepage') }}" class="navbar-brand logo" style="background-image: url({{ asset('images/qm/LogoLong.png') }})"></a>
                                <h1>QuantumMonkeys</h1>
                            </div>
                            <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
                                <nav>
                                    <div class="skroll-header">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#home">{{ 'menu.home'|trans }}</a></li>
                                            <li><a href="#aboutus">{{ 'menu.about_us'|trans }}</a></li>
                                            <li><a href="#services">{{ 'menu.our_services'|trans }}</a></li>
                                            <li><a href="#contactus">{{ 'menu.contact_us'|trans }}</a></li>
                                            <li>
                                                {% if app.request.locale and app.request.locale == 'fr' %}
                                                    {% set sNewLocale = 'en' %}
                                                {% else %}
                                                    {% set sNewLocale = 'fr' %}
                                                {% endif %}

                                                {% set requestAttributes =  app.request.attributes.all() %}
                                                {% set route = requestAttributes._route %}
                                                <a href="{{ localeSwitch(sNewLocale, requestAttributes) }}">{{ ('menu.'~sNewLocale)|trans|raw }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end Header -->

            <section id="home">
                <!-- Master Slider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <!-- slide 1 -->
                    <div class="ms-slide slide-1" data-delay="14">

                        <!-- slide background -->
                        <img src="{{ asset('images/blank.gif') }}" data-src="{{ asset('images/qm/slide1.jpg') }}" alt="Slide1 background"/>
                        <h3 class="ms-layer title4 font-black"
                            style="left:110px; top: 170px;"
                            data-type="text"
                            data-delay="1500"
                            data-duration="2000"
                            data-ease="easeOutExpo"
                            data-effect="rotate3dtop(-100,0,0,40,t)">
                            {{ 'slider.slide1.pretitle'|trans }}
                        </h3>
                        <h3 class="ms-layer title2 orange uppercase"
                            style="left:110px;top: 240px;"
                            data-type="text"
                            data-delay="2000"
                            data-duration="2500"
                            data-ease="easeOutExpo"
                            data-effect="rotate3dtop(-100,0,0,40,t)">
                            {{ 'slider.slide1.title'|trans }}
                        </h3>
                        <h5 class="ms-layer text1 font-black"
                            style="left: 110px; top: 340px;"
                            data-type="text"
                            data-effect="bottom(45)"
                            data-duration="3000"
                            data-delay="2500"
                            data-ease="easeOutExpo">
                            {{ 'slider.slide1.description'|trans|raw }}
                            </h5>
                        <a class="ms-layer btn1 uppercase"
                           style="left: 110px; top: 450px;"
                           data-type="text"
                           data-delay="3000"
                           data-ease="easeOutExpo"
                           data-duration="2000"
                           data-effect="scale(1.5,1.6)"
                           href="#contactus">
                            {{ 'slider.slide1.call_to_action'|trans }}
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <!-- end of slide -->

                    <!-- slide 2 -->
                    <div class="ms-slide slide-2" data-delay="14">

                        <!-- slide background -->
                        <img src="{{ asset('images/blank.gif') }}" data-src="{{ asset('images/qm/slide2.jpg') }}" alt="Slide2 background"/>
                        <h3 class="ms-layer title3 font-black"
                            style="right:110px; top: 230px;"
                            data-type="text"
                            data-delay="1500"
                            data-duration="2000"
                            data-ease="easeOutExpo"
                            data-effect="skewleft(50,340)">
                            {{ 'slider.slide2.pretitle'|trans }}
                        </h3>
                        <h3 class="ms-layer title2 f65 orange uppercase"
                            style="right: 110px;top: 285px;"
                            data-type="text"
                            data-delay="2000"
                            data-duration="2500"
                            data-ease="easeOutExpo"
                            data-effect="skewright(50,340)">
                            {{ 'slider.slide2.title'|trans }}
                        </h3>
                        <h5 class="ms-layer text1 font-black text-right"
                            style="right: 110px; top: 380px;"
                            data-type="text"
                            data-effect="bottom(45)"
                            data-duration="3000"
                            data-delay="2500"
                            data-ease="easeOutExpo">
                            {{ 'slider.slide2.description'|trans|raw }}
                        </h5>
                        <a class="ms-layer btn1 uppercase"
                           style="right: 110px; top: 490px;"
                           data-type="text"
                           data-delay="3000"
                           data-ease="easeOutExpo"
                           data-duration="2000"
                           data-effect="scale(1.5,1.6)"
                           href="#contactus">
                            <i class="fa fa-arrow-circle-right"></i>
                            {{ 'slider.slide2.call_to_action'|trans }}
                        </a>
                    </div>
                    <!-- end of slide -->

                    <!-- slide 3 -->
                    <div class="ms-slide slide-2" data-delay="14">

                        <!-- slide background -->
                        <img src="{{ asset('images/blank.gif') }}" data-src="{{ asset('images/qm/slide3.jpg') }}" alt="Slide3 background"/>
                        <h3 class="ms-layer title4 white"
                            style="left:110px; top: 190px;"
                            data-type="text"
                            data-delay="1500"
                            data-duration="2000"
                            data-ease="easeOutExpo"
                            data-effect="rotate3dtop(-100,0,0,40,t)">
                            {{ 'slider.slide3.pretitle'|trans }}
                        </h3>
                        <h3 class="ms-layer title2 uppercase orange"
                            style="left: 110px;top: 260px;"
                            data-type="text"
                            data-delay="2000"
                            data-duration="2500"
                            data-ease="easeOutExpo"
                            data-effect="rotate3dtop(-100,0,0,40,t)">
                            {{ 'slider.slide3.title'|trans }}
                        </h3>
                        <h5 class="ms-layer text1 white"
                            style="left: 110px; top: 360px;"
                            data-type="text"
                            data-effect="bottom(45)"
                            data-duration="3000"
                            data-delay="2500"
                            data-ease="easeOutExpo">
                            {{ 'slider.slide3.description'|trans|raw }}
                        </h5>
                        <a class="ms-layer btn1 uppercase"
                           style="left: 110px; top: 470px;"
                           data-type="text"
                           data-delay="3000"
                           data-ease="easeOutExpo"
                           data-duration="2000"
                           data-effect="scale(1.5,1.6)"
                           href="#contactus">
                            {{ 'slider.slide3.call_to_action'|trans }}
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <!-- end of slide -->
                </div>
                <!-- end Master Slider -->
            </section>
            <!-- end home section -->

            <section id="aboutus">
                <div class="bg-texture3 one">
                    <div class="container">
                        <div class="row">
                            <div class="title1 text-center">
                                <h2 class="uppercase">
                                    <span class="line blueline"></span>
                                    <span class="uppercase font-grey font-bold font14">{{ 'company.pretitle'|trans }}</span><br>
                                    {{ 'company.title'|trans }}
                                </h2>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <p class="font-black m-bottom4 font18">{{ 'company.introduction'|trans }}</p>
                                <img src="{{ asset('images/qm/skydivers.jpg') }}" alt="Skydivers" class="img-responsive">
                                <p class="m-top3">{{ 'company.description'|trans }}</p>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div>
                                    <!-- Nav tabs -->
                                    <ul role="tablist" class="nav nav-tabs tabs-style2" data-tabs="tabs">
                                        <li class="active" role="presentation">
                                            <a data-toggle="tab" role="tab" aria-controls="coaching" href="#coaching">
                                                {{ 'company.tab1.title'|trans }}
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a data-toggle="tab" role="tab" aria-controls="pla" href="#pla">
                                                {{ 'company.tab2.title'|trans }}
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a data-toggle="tab" role="tab" aria-controls="ci" href="#ci">
                                                {{ 'company.tab3.title'|trans }}
                                            </a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content tab-style3">
                                        <div id="coaching" class="tab-pane active" role="tabpanel">
                                            <img src="{{ asset('images/qm/coaching.jpg') }}" alt="Board with 100% written" class="img-responsive">
                                            <p class="m-top3">{{ 'company.tab1.description'|trans }}</p>
                                        </div>
                                        <div id="pla" class="tab-pane" role="tabpanel">
                                            <img src="{{ asset('images/qm/pla.png') }}" alt="PLA logo" class="img-responsive">
                                            <p class="m-top3">{{ 'company.tab2.description'|trans }}</p>
                                        </div>
                                        <div id="ci" class="tab-pane" role="tabpanel">
                                            <img src="{{ asset('images/qm/ci.png') }}" alt="Logos of CI tools" class="img-responsive">
                                            <p class="m-top3">{{ 'company.tab3.description'|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end About us Section -->

            <section id="services">
                <div class="section-lg m-top5">
                    <div class="container">
                        <div class="row">
                            <div class="title1 text-center">
                                <h2 class="uppercase">
                                    <span class="line blueline"></span>
                                    <span class="uppercase font-grey font-bold font14">{{ 'services.pretitle'|trans }}</span><br>
                                    {{ 'services.title'|trans }}
                                </h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-feature-box m-bottom6">
                                        <i class="fa fa-users icon blue font50 border-right left"></i>
                                        <div class="left-padd12 top-padd-2">
                                            <h3 class="font-black nomargin">{{ 'services.service1.title'|trans }}</h3>
                                            <p class="m-top2">{{ 'services.service1.description'|trans|raw }}</p>
                                        </div>
                                    </div>
                                    <div class="col-feature-box m-bottom6">
                                        <i class="fa fa-line-chart icon blue font50 border-right left"></i>
                                        <div class="left-padd12 top-padd-2">
                                            <h3 class="font-black nomargin">{{ 'services.service2.title'|trans }}</h3>
                                            <p class="m-top2">{{ 'services.service2.description'|trans|raw }}</p>
                                        </div>
                                    </div>
                                    <div class="col-feature-box m-bottom6">
                                        <i class="fa fa-mortar-board icon blue font50 border-right left"></i>
                                        <div class="left-padd12 top-padd-2">
                                            <h3 class="font-black nomargin">{{ 'services.service3.title'|trans }}</h3>
                                            <p class="m-top2">{{ 'services.service3.description'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-feature-box m-bottom6">
                                        <i class="fa fa-rocket icon blue font50 border-right left"></i>
                                        <div class="left-padd12 top-padd-2">
                                            <h3 class="font-black nomargin">{{ 'services.service4.title'|trans }}</h3>
                                            <p class="m-top2">{{ 'services.service4.description'|trans|raw }}</p>
                                        </div>
                                    </div>
                                    <div class="col-feature-box m-bottom6">
                                        <i class="fa fa-gear icon blue font50 border-right left"></i>
                                        <div class="left-padd12 top-padd-2">
                                            <h3 class="font-black nomargin">{{ 'services.service5.title'|trans }}</h3>
                                            <p class="m-top2">{{ 'services.service5.description'|trans|raw }}</p>
                                        </div>
                                    </div>
                                    <div class="col-feature-box m-bottom6">
                                        <i class="fa fa-code icon blue font50 border-right left"></i>
                                        <div class="left-padd12 top-padd-2">
                                            <h3 class="font-black nomargin">{{ 'services.service6.title'|trans }}</h3>
                                            <p class="m-top2">{{ 'services.service6.description'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end Services Section -->

            <section id="contactus">
                <div class="bg-texture1 m-top8">
                    <div class="container">
                        <div class="row">
                            <div class="title1 text-center m-top-2">
                                <h2 class="uppercase white">
                                    <span class="line blueline"></span>
                                    <span class="uppercase font-grey font-bold font14">{{ 'contactus.pretitle'|trans }}</span><br>
                                    {{ 'contactus.title'|trans }}
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="white font25 m-bottom3">{{ 'contactus.infos'|trans }}</h2>
                                <ul class="address-info one">
                                    <li class="white"><i class="fa fa-map-marker blue font25"></i> {{ 'contactus.address'|trans }}</li>
                                    <li class="white"><i class="fa fa-phone blue font25"></i> {{ 'contactus.phone'|trans }}</li>
                                    <li class="white"><i class="fa fa-envelope blue font25"></i> <a href="mailto:{{ 'contactus.email'|trans }}">{{ 'contactus.email'|trans }}</a></li>
                                </ul>
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/Quantum-Monkeys-915392701879253" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/quantummonkeys" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://plus.google.com/b/117632737566323856593/117632737566323856593" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="last"><a href="https://www.linkedin.com/company/10220132" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <div id="messageSuccess" class="alert alert-success" role="alert">{{ 'contactus.form.success'|trans }}</div>
                                <div id="messageError" class="alert alert-danger" role="alert">{{ 'contactus.form.error'|trans }}</div>
                                {{ form_start(form, {
                                    'attr': {
                                        'id': 'contactForm',
                                        'method': 'POST',
                                        'action': path('contact')
                                    }
                                }) }}
                                    <div class="col-md-6 m-bottom3">
                                        {{ form_widget(form.name, {
                                            'attr': {
                                                'class': 'input-b-line',
                                                'placeholder': 'contactus.form.placeholders.name'|trans
                                            }
                                        }) }}
                                    </div>
                                    <div class="col-md-6 m-bottom3">
                                        {{ form_widget(form.email, {
                                            'attr': {
                                                'class': 'input-b-line',
                                                'placeholder': 'contactus.form.placeholders.email'|trans
                                            }
                                        }) }}
                                    </div>
                                    <div class="col-md-12 m-bottom3">
                                        {{ form_widget(form.subject, {
                                            'attr': {
                                                'class': 'input-b-line',
                                                'placeholder': 'contactus.form.placeholders.subject'|trans
                                            }
                                        }) }}
                                    </div>
                                    <div class="col-md-12 m-bottom5">
                                        {{ form_widget(form.message, {
                                            'attr': {
                                                'placeholder': 'contactus.form.placeholders.message'|trans,
                                                'cols': 2,
                                                'raw': 3
                                            }
                                        }) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_widget(form.submit, {
                                            'attr': {
                                                'class': 'submit-btn'
                                            }
                                        }) }}
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end Contact Us Section -->
        </div>
    </div>
    <!-- end site wrapper -->
    <a href="#" class="scrollup"></a>
    <!-- end scroll to top of the page-->
{% endblock %}
