{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'services' %}

{% block description %}{{ 'meta.description'|trans }}{% endblock %}
{% block ogdescription %}{{ 'meta.description'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% for service in services %}
            <div class="row">
                {% if loop.index % 2 == 1 %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="left-slider">
                            <div class="item">
                                {% media service.picture, 'service_big' %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="over-cont">
                        <div class="mission-heading">
                            <h3>{{ translate(service, 'name') }}</h3>
                        </div>
                        <p>{{ translate(service, 'description')|markdown }}</p>
                        <span class="amazings-text">
                            <h3>{{ translate(service, 'specifications') }}</h3>
                        </span>
                    </div>
                </div>
                {% if loop.index % 2 == 0 %}
                    <div class="col-md-6">
                        <div class="working_method">
                            {% media service.picture, 'service_big' %}
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
