{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'services' %}

{% block description %}{{ 'meta.description'|trans }}{% endblock %}
{% block ogdescription %}{{ 'meta.description'|trans }}{% endblock %}

{% block body %}
    <div class="container services">
        {% for service in services %}
            <div class="row service">
                <picture class="col-xs-12 col-sm-4 col-md-4 col-lg-4{% if loop.index % 2 == 0 %} hidden-lg hidden-md hidden-sm{% endif %}">
                    {% media service.picture, 'service_big' with {
                        'height': 'auto'
                    } %}
                </picture>

                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <h3>{{ translate(service, 'name') }}</h3>
                    <p>{{ translate(service, 'description')|markdown }}</p>

                    {% if service.price > 0 %}
                        <span class="btn btn-default price">
                            {{ service.price|number_format(0) }} $
                        </span>
                        <a href="#contact-us" class="btn btn-info">
                            {{ 'contact_us'|trans }}
                        </a>
                    {% endif %}
                </div>

                <picture class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs{% if loop.index % 2 == 1 %}  hidden-lg hidden-md hidden-sm{% endif %}">
                    {% media service.picture, 'service_big' with {
                        'height': 'auto'
                    } %}
                </picture>
            </div>

            <div class="row packages row-centered">
                {% for package in service.packages %}
                    <div class="col-md-3 col-sm-6 col-xs-12 col-centered float-shadow">
                        {#<div class="recommended">#}
                            {#<strong>#}
                                {#<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>#}
                                {#RECOMMENDED#}
                            {#</strong>#}
                        {#</div>#}
                        <div class="price_table_container">
                            <div class="price_table_heading">{{ translate(package, 'name') }}</div>
                            <div class="price_table_body">
                                <div class="price_table_row cost primary-bg">
                                    <strong>{{ package.price|number_format(0) }} $</strong>
                                    <span>{{ 'package.per_month'|trans }}</span>
                                </div>
                                <div class="price_table_row">
                                    {% if package.remote %}
                                        <i class="fa fa-phone"></i>
                                        {{ 'package.location.by_phone'|trans }}
                                    {% endif %}
                                    {% if package.remote and package.onSite %}
                                        {{ 'package.location.or'|trans }}
                                    {% endif %}
                                    {% if package.onSite %}
                                        <i class="fa fa-users"></i>
                                        {{ 'package.location.on_site'|trans }}
                                    {% endif %}
                                </div>
                                <div class="price_table_row">
                                    <i class="fa fa-clock-o"></i>
                                    {% if package.duration|format_date('H') != 0 %}
                                        {{ 'package.duration.hours'|transchoice(package.duration|format_date('H')) }}
                                    {% endif %}
                                    {% if package.duration|format_date('m') != 0 %}
                                        {{ 'package.duration.minutes'|transchoice(package.duration|format_date('m')) }}
                                    {% endif %}
                                </div>
                                <div class="price_table_row">
                                    {% if package.emergencyCalls > 0 %}
                                        <i class="fa fa-warning"></i>
                                    {% endif %}
                                    {{ 'package.emergency_calls'|transchoice(package.emergencyCalls) }}
                                </div>
                                <div class="price_table_row">
                                    <i class="fa fa-envelope"></i>
                                    {{ 'package.emails'|transchoice(package.emails)|raw }}
                                </div>
                                <div class="price_table_row">
                                    <i class="fa fa-handshake-o"></i>
                                    {{ 'package.minimal_engagement'|transchoice(package.minimalEngagement) }}
                                </div>
                                <div class="price_table_row">
                                    <a tabindex="{{ loop.index }}" role="button" class="more"
                                       data-toggle="popover" data-trigger="focus" data-placement="top"
                                       data-content="{{ translate(package, 'description') }}">
                                        {{ 'package.more'|trans }}
                                    </a>
                                </div>
                            </div>
                            <a href="#contact-us" class="btn btn-default btn-lg btn-block">{{ 'contact_us'|trans }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('.more').popover();
        })
    </script>
{% endblock %}
