{% trans_default_domain 'widget' %}

<div class="panel panel-default col-md-6">
    <div class="panel-heading text-center">{{ 'services.title'|trans }}</div>
    <p class="text-center">{{ 'services.subtitle'|trans }}</p>
    <div class="panel-body">
        <ul>
            {% for service in services %}
                <li>
                    {{ service.name }}
                </li>
            {% endfor %}
        </ul>

        <a href="{{ path('service_list') }}">{{ 'services.see_all'|trans }}</a>
    </div>
</div>

<div class="panel panel-default col-md-6">
    <div class="panel-heading text-center">{{ 'trainings.title'|trans }}</div>
    <p class="text-center">{{ 'trainings.subtitle'|trans }}</p>
    <div class="panel-body">
        <ul>
            {% for i in 1..services|length %}
                <li>{{ ('trainings.training' ~ i)|trans }}</li>
            {% endfor %}
        </ul>

        <a href="{{ path('training_list') }}">{{ 'trainings.see_all'|trans }}</a>
    </div>
</div>

<p class="text-center">{{ 'trainings.packages'|trans }}</p>
