{% trans_default_domain 'widget' %}

<div class="coaching_and_formations_contanear">
    <div class="contanear">
        <div class="coaching_area">
            <div class="coaching_main_title">
                <h1>{{ 'services.title'|trans }}</h1>
            </div>
            <div class="coaching_boxes_area">
                {% for i in 1..4 %}
                    <div class="coaching_box{{ i }}">
                        <div class="coaching_box1_icon_area"><img src="/images/coaching_img{{ i }}.png" alt="image description"></div>
                        <div class="coaching_box2_text_area">
                            <p>{{ ('services.service_' ~ i)|trans }}</p>
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('service_list') }}" class="see_all_but1">{{ 'services.see_all'|trans }}</a>
            </div>
        </div>
        <div class="formation_area">
            <div class="formaion_main_title">
                <h1>{{ 'trainings.title'|trans }}</h1>
            </div>
            <div class="formaion_boxes_area">
                {% for i in 1..4 %}
                    <div class="formaion_box{{ i }}">
                        <div class="formaion_box1_icon_area"><img src="/images/formation_img{{ i }}.png" alt="image description"></div>
                        <div class="formaion_box2_text_area">
                            <p>{{ ('trainings.training_' ~ i)|trans }}</p>
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('training_list') }}" class="see_all_but2">{{ 'trainings.see_all'|trans }}</a>
            </div>
        </div>
    </div>
</div>
