{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'landingpage' %}

{% block body %}
    <div class="container landing-page">
        <div class="row">
            <div class="hidden-xs col-sm-4">
                <picture>
                    {% media campaignTranslation.mainPicture, 'landing_page_main' with {
                        'class': 'img-responsive'
                    } %}
                </picture>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>{{ campaignTranslation.title }}</h2>
                <h3 class="subtitle">{{ campaignTranslation.subTitle }}</h3>

                {{ campaignTranslation.mainContent|markdown }}

                <h3>{{ 'about_the_author'|trans }}</h3>

                <div class="row author">
                    <picture class="col-xs-4">
                        {% media campaignTranslation.campaign.author.picture, 'person' with {
                            'height': 'auto'
                        } %}
                    </picture>
                    <div class="col-xs-8">
                        <p class="name">{{ campaignTranslation.campaign.author.displayName }}</p>
                        <p class="job-title">
                            <span>{{ translate(campaignTranslation.campaign.author, 'position') }}</span>
                            {% if campaignTranslation.campaign.author.company %}
                                <span>{{ 'at'|trans({ '%company%': campaignTranslation.campaign.author.company }) }}</span>
                            {% endif %}
                        </p>
                        <p class="description">{{ translate(campaignTranslation.campaign.author, 'description') }}</p>
                    </div>
                </div>


                <h3>{{ campaignTranslation.mainFormTitle }}</h3>

                {{ form_start(form, {
                    'attr' : {
                        'class': 'form-horizontal'
                    }
                }) }}
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(form.email, {
                                'attr' : {
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(form.submit, {
                                'label': campaignTranslation.mainSubmitButtonLabel,
                                'attr' : {
                                    'class': 'btn btn-default'
                                }
                            }) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="visible-xs col-xs-12">
                <picture>
                    {% media campaignTranslation.mainPicture, 'landing_page_main' with {
                        'class': 'img-responsive'
                    } %}
                </picture>
            </div>
        </div>
    </div>
{% endblock %}
