{% trans_default_domain 'widget' %}

<div class="panel panel-default col-md-12">
    <div class="panel-heading">{{ 'testimonials.title'|trans }}</div>
    <div class="panel-body">
        {% for testimonial in testimonials %}
            {% media testimonial.person.picture, 'small' %}
            <h4>{{ testimonial.person.displayName }}</h4>
            <span>{{ translate(testimonial.person.personTranslations, 'position') }}</span>
            {% if testimonial.person.company %}
                <span>{{ 'testimonials.at'|trans({ company: testimonial.person.company }) }}</span>
            {% endif %}
            <p>{{ testimonial.content }}</p>
        {% endfor %}
    </div>
</div>
