{% trans_default_domain 'widget' %}

{% if testimonials|length %}
    <div class="testimonials">
        <div class="container">
            <div class="row">
                <h2>{{ 'testimonials.title'|trans }}</h2>
            </div>

            <ul id="light-slider">
                {% for testimonial in testimonials %}
                    <li class="testimonial">
                        <div class="content">
                            <i class="fa fa-quote-left"></i>
                            {{ testimonial.content }}
                            <i class="fa fa-quote-right"></i>
                        </div>

                        <div class="person">
                            {% media testimonial.person.picture, 'person' %}
                            <h2>{{ testimonial.person.displayName }}</h2>
                            <p>
                                <span>{{ translate(testimonial.person, 'position') }}</span>
                                {% if testimonial.person.company %}
                                    <span>{{ 'testimonials.at'|trans({ '%company%': testimonial.person.company }) }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
