{% trans_default_domain 'blog' %}

<div class="row widget author">
    <h3>{{ 'widget.author.title'|trans }}</h3>

    <figure>
        {% media author.picture, 'person' with {
            class: 'img-responsive'
        } %}
    </figure>
    <span class="name" itemprop="author">{{ author.displayName }}</span>
    <p class="description">{{ translate(author, 'description') }}</p>
    <a href="{{ path('blog_author', { 'slug': author.slug }) }}" class="articles">{{ 'widget.author.articles'|trans }}</a>
</div>
