{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'studio' %}

{% block body %}
    <div class="services studio container">
        <div class="row">
            <picture class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-1">
                <img src="{{ asset('images/logos/QM-Studio.png') }}" class="img-responsive">
            </picture>
            <div class="col-xs-12 col-md-6 col-md-offset-1 col-lg-6 studio-description">
                {{ 'description'|trans|markdown }}
            </div>
        </div>

        <hr>

        <div class="row packages row-centered">
            <h2>{{ 'packages.basic.title'|trans }}</h2>

            <p>{{ 'packages.basic.description'|trans }}</p>

            {% for package in packages %}
                {% include '@App/Services/Packages/development_package.html.twig' with { 'package': package } %}
            {% endfor %}
        </div>

        <hr>

        <div class="row packages row-centered">
            <h2>{{ 'packages.addons.title'|trans }}</h2>

            <p>{{ 'packages.addons.description'|trans }}</p>

            {% for package in extraPackages %}
                {% include '@App/Services/Packages/extra_development_package.html.twig' with { 'package': package } %}
            {% endfor %}
        </div>

        <hr>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('.more').popover();
        })
    </script>
{% endblock %}
