{% trans_default_domain 'widget' %}

<div class="alert alert-success">{{ 'contact.message.success'|trans }}</div>
<div class="alert alert-danger">{{ 'contact.message.error'|trans }}</div>
{{ form_start(form) }}
    {{ form_widget(form.firstName, {
        'attr': {
            'class': 'footer_mainpanel_right_input'
        }
    }) }}
    {{ form_widget(form.lastName, {
        'attr': {
            'class': 'footer_mainpanel_right_input'
        }
    }) }}
    {{ form_widget(form.email, {
        'attr': {
            'class': 'footer_mainpanel_right_input'
        }
    }) }}
    {{ form_widget(form.project, {
        'attr': {
            'class': 'footer_mainpanel_right_input'
        }
    }) }}
    {{ form_widget(form.message, {
        'attr': {
            'class': 'footer_mainpanel_right_input footer_mainpanel_right_inputarea'
        }
    }) }}
    {{ form_widget(form.submit, {
        'attr': {
            'class': 'footer_mainpanel_right_submit'
        }
    }) }}
{{ form_end(form) }}
