{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'about' %}

{% block body %}
    <div class="aboutus container">
        <div class="row">
            <picture class="col-sm-12 col-md-6 col-lg-6">
                <img src="{{ asset('images/logo-big.png') }}">
            </picture>
            <div class="col-sm-12 col-md-6 col-lg-6 aboutus-description">
                {{ 'description'|trans|markdown }}
            </div>
        </div>

        <hr>
        <div class="row">
            <h2>{{ 'team'|trans }}</h2>

            {% for person in people %}
                <div class="team-member col-sm-12 col-md-4">
                    <figure>
                        {% media person.picture, 'person_about' with {
                            'class': 'img-rounded img-responsive'
                        } %}
                    </figure>
                    <div class="informations">
                        <h4>{{ person.displayName }}</h4>
                        <p class="position">{{ translate(person, 'position') }}</p>
                        <p class="description">{{ translate(person, 'description')|markdown }}</p>
                    </div>
                </div>
            {% if loop.index % 3 == 0 or loop.last %}
        </div>
        <hr class="visible-md visible-lg">
        <div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
