{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'blog' %}

{% block body %}
    <div class="container">
        <div class="row blog archive">
            <div class="col-xs-12 col-sm-8 articles">
                {% for post in pager.getResults() %}
                    <article itemscope itemtype="http://schema.org/Article">
                        <div class="title row">
                            <h1><a href="{{ url('blog_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a></h1>
                        </div>

                        <div class="row">
                            <a href="{{ url('blog_view', { 'permalink': sonata_news_permalink(post) }) }}">
                                <picture class="picture" style="background-image: url({{ absolute_path(post.image, 'wide') }})" />
                            </a>
                        </div>

                        <div class="details row">
                            <div class="col-xs-6 date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span>{{ post.publicationDateStart|localizeddate('long', 'none') }}</span>
                                <meta itemprop="datePublished" content="{{ post.publicationDateStart|localizeddate('short', 'none') }}"/>
                            </div>
                            <div class="col-xs-6 author">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <span itemprop="author">{{ post.author.firstName }} {{ post.author.lastName }}</span>
                            </div>
                        </div>

                        <div class="content row">
                            <div class="col-xs-9">
                                <p class="abstract">{{ post.abstract|nl2br }}</p>
                            </div>
                            <div class="col-xs-3 read-more">
                                <a href="{{ url('blog_view', { 'permalink': sonata_news_permalink(post) }) }}">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    <span>{{ 'list.read_more'|trans }}</span>
                                </a>
                            </div>
                        </div>
                    </article>

                    <hr>
                {% else %}
                    <p>{{ 'list.no_post_found'|trans }}</p>
                {% endfor %}

                <ul class="pager">
                    <li{% if pager.page == pager.lastPage %} class="disabled"{% endif %}>
                        <a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'list.links.previous_page'|trans }}">
                            {{ 'list.links.previous_page'|trans }}
                        </a>
                    <li{% if pager.page == pager.firstPage %} class="disabled"{% endif %}>
                        <a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'list.links.next_page'|trans }}">
                            {{ 'list.links.next_page'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 sidebar">
                {{ include('AppBundle:News:_newsletterWidget.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"282e9366effefb7c19e3fd91a","lid":"535b81918b"}) })</script>
{% endblock %}
