<div class="comments-sec"><!--comments-sec-->
    <div class="comments-title">
        <h3>{{ pager.count }} Comment to “San Francisco Should Always Have a Subway Under Construction”</h3>
    </div>
    {% for comment in pager.results %}
        <div class="col-xs-8 col-sm-10 col-md-10">
            <div class="bloger-comments">
                <span>{{ comment.createdAt|localizeddate('medium', 'short') }}</span>
                <h3>
                    <a href="mailto:{{ comment.email }}" target="new" rel="nofollow">
                        {{ comment.name }}
                    </a>
                    says:
                </h3>
            </div>
            <div class="comments-reply">
                <label class="col-xs-8 col-sm-8">{{ comment.message }}</label>
            </div>
        </div>
    {% else %}
        <p>{{ 'no_comments_available'|trans({}, 'SonataNewsBundle') }}</p>
    {% endfor %}
</div>
