{% trans_default_domain 'blog' %}

<div class="blog-title-form">
    <h3>{{'comment.form.title'|trans }}</h3>
</div>
<div class="blog-input-sec">
    <form action="{{ url('sonata_news_add_comment', {'id': post_id}) }}" method="POST">
        <div class="row">
            <div class="col-sm-9 form-group comment-form">
                {{ form_widget(form.name, {
                    attr: {
                        class: 'form-control',
                        placeholder: 'comment.form.name.placeholder'|trans
                    }
                }) }}
            </div>
            <div class="col-sm-9 form-group comment-form">
                {{ form_widget(form.email, {
                    attr: {
                        class: 'form-control',
                        placeholder: 'comment.form.email.placeholder'|trans
                    }
                }) }}
            </div>
            <div class="col-sm-9 form-group comment-form">
                {{ form_widget(form.url, {
                    attr: {
                        class: 'form-control',
                        placeholder: 'comment.form.website.placeholder'|trans
                    }
                }) }}
            </div>
            <div class="col-sm-9 form-group comment-form">
                {{ form_widget(form.message, {
                    attr: {
                        class: 'form-control',
                        placeholder: 'comment.form.comment.placeholder'|trans,
                        row: 3
                    }
                }) }}
            </div>
            <div class="col-sm-9 comment-form">
                <button type="submit" class="btn btn-lg btn-info">{{'comment.form.submit.label'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
