{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'blog' %}

{% block body %}
    <div class="container">
        <div class="row blogpost" itemscope itemtype="http://schema.org/Article">
            <article class="col-xs-12 col-sm-8">
                <div class="row picture" itemprop="sharedContent">
                    {% media post.image, 'wide' with {
                        class: 'img-responsive'
                    } %}
                </div>
                <div class="row date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>{{ post.publicationDateStart|localizeddate('long', 'none') }}</span>
                    <meta itemprop="datePublished" content="{{ post.publicationDateStart|localizeddate('short', 'none') }}"/>
                </div>

                <header class="row">
                    <h1 itemprop="name">{{ post.title }}</h1>
                    <p>{{ post.abstract }}</p>
                </header>

                <div class="row content" itemprop="articleContent">
                    {{ post.content|raw }}
                </div>

                <div class="addthis_inline_share_toolbox"></div>

                {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

                {% if post.iscommentable %}
                    {% render(controller('SonataNewsBundle:Post:addCommentForm', {
                        'postId': post.id,
                        'form': form
                    })) %}
                {% else %}
                    <div>
                        {{ 'view.comments_are_closed'|trans }}
                    </div>
                {% endif %}
            </article>
            <div class="col-xs-12 col-sm-3 col-sm-offset-1 sidebar">
                {#{{ include('AppBundle:News:_shareWidget.html.twig') }}#}
                {{ include('AppBundle:News:_newsletterWidget.html.twig') }}
                {{ render(controller('AppBundle:News:authorWidget', {
                    'author': post.author
                })) }}
                {{ render(controller('AppBundle:News:lastPostsWidget', {
                    'currentArticleId': post.id,
                    'articlesNumber': 3
                })) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"282e9366effefb7c19e3fd91a","lid":"535b81918b"}) })</script>
{% endblock %}
