{% extends 'AppBundle::base.html.twig' %}

{% trans_default_domain 'blog' %}

{% block body %}
    <div class="container">
        <div class="row blogpost">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="blog-img-detail">
                    {% media post.image, 'wide' with {
                        class: 'img-responsive'
                    } %}
                </div>
                <div class="blogs">
                    <div class="blog-detail-share blogs">
                        <ul class="col-xs-12 col-sm-12">
                            <li class="col-xs-6 col-sm-1 col-md-1 col-lg-1">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <span>{{ post.commentsCount }}</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                {{ 'view.tags'|trans }}
                                {% for tag in post.tags %}
                                    <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>
                                {% else %}
                                    {{ 'view.no_tags'|trans }}
                                {% endfor %}
                            </li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span>{{ post.publicationDateStart|localizeddate('short', 'none') }}</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-4 col-lg-4 author">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                {{ post.author.firstname }} {{ post.author.lastname }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="blog-title">
                    <h3>{{ post.title }}</h3>
                </div>

                <div class="blog-details-content">
                    {{ post.content|raw }}
                </div>

                {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

                {% if post.iscommentable %}
                    {% render(controller('SonataNewsBundle:Post:addCommentForm', {
                        'postId': post.id,
                        'form': form
                    })) %}
                {% else %}
                    <div>
                        {{ 'view.comments_are_closed'|trans }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"282e9366effefb7c19e3fd91a","lid":"535b81918b"}) })</script>
{% endblock %}
